@font-face {
    font-family: 'iconfont';  /* project id 1419668 */
    src: url('//at.alicdn.com/t/font_1419668_635i9stje8u.eot');
    src: url('//at.alicdn.com/t/font_1419668_635i9stje8u.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1419668_635i9stje8u.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1419668_635i9stje8u.woff') format('woff'),
    url('//at.alicdn.com/t/font_1419668_635i9stje8u.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1419668_635i9stje8u.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hamlin-bili::before{
    content: '\e601';
    color: #00a1d6;
    padding-right: 5px;
}
.hamlin-home::before{
    content: '\e604';
    color: #ffafc9;
    font-size: 1.4rem;
    padding: 0.1rem 0.2rem;
}
.hamlin-comment::before{
    content: '\e61b';
    color: #ffafc9;
}
.hamlin-eye::before{
    content: '\e633';
    color: #ffafc9;
}
.hamlin-tag::before{
    content: '\e622';
    color: #ffafc9;
}
.hamlin-date::before{
    content: '\e655';
    color: #ffafc9;
}
.hamlin-person::before{
    content: '\e600';
    color: #ffafc9;
}
.hamlin-rocket::before{
    content: '\e62a';
    color: #ffafc9;
    font-size: 3rem;
}
.hamlin-time::before{
    content: '\e603';
    color: #ffafc9;
}
